{% extends 'base.html' %}


{% block content %}
    <div class=" container">
        <h3 style="padding-left: 4px">Order number #{{ order.id }}:</h3>

          {% for product in order.products.all %}
            <div class="card m-3">
              <div class="card-body">
                <div class="" style="position: relative">
                  <h4>{{ product.name }}</h4>
                    <div style="display: flex;justify-content: space-between">
                        <div>
                            <div>{{ product.price }} RON</div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <div>Products price: {{ order.total_price }}</div>
            <ul class="list-group m-4">
                <li class="list-group-item"><b>Fullname:</b> {{ order.customer.first_name }} {{ order.customer.last_name }}</li>
                <li class="list-group-item"><b>E-mail:</b> {{ order.customer.email }}</li>
                <li class="list-group-item"><b>Phone</b>: {{ order.customer.phone_number }}</li>
                <li class="list-group-item"><b>Address:</b> {{ order.customer.profile.address}}</li>
                <li class="list-group-item"><b>Payment method:</b> {{ order.payment_method}}</li>
                <li class="list-group-item"><b>Restaurant:</b> {{ order.restaurant }}</li>
             </ul>
      </div>
    
{% endblock %}