{% extends 'base.html' %}

{% block title %}
  {{ restaurant.name }}
{% endblock%}

{% block content %}
<div class="container">
  <div class="p-3">
    <div class="">
      <div class="">
        <h2 class="">
          {{ restaurant.name }}
        </h2>
        <p class="">
          {{  restaurant.description}}
        </p>
      </div>
      <div class="">
        Opening Hours: {{  restaurant.open_hour }} - {{ restaurant.close_hour }}
      </div>
    </div>
  </div>


  <div class=" col-sm-12">
    <h3 style="padding-left: 4px">Menu:</h3>

      {% for product in products %}
        <div class="card m-3">
          <div class="card-body">
            <div class="" style="position: relative">
              <h4>{{ product.name }}</h4>
                <div style="display: flex;justify-content: space-between">
                    <div>
                        <div>{{ product.description }}</div>
                        <div>{{ product.price }} RON</div>
                        <div><input style="margin-top:20px;" class="btn btn-primary" type="submit" value="Add to Cart" /></div>
                    </div>
                    {% if product.photo %}
                            <img src="{{ product.photo.url }}" width="150px">
                    {% endif %}
                </div>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>
{% endblock %}