{% extends 'base.html' %}

{% block title %} User Profile - {{ user.username }} {% endblock %}

{% block content %}
  <div class="container">
      <div class="m-2">
        <a class="btn btn-primary" href="{% url 'user_profile_edit' selected_user.id %}">Edit profile</a>
      </div>

    <h1>{{ user.username }}' Profile</h1>
      <ul class="list-group m-4">
        <li class="list-group-item"><b>Fullname:</b> {{ selected_user.first_name }} {{ selected_user.last_name }}</li>
        <li class="list-group-item"><b>Username:</b> {{ selected_user.username }}</li>
        <li class="list-group-item"><b>E-mail:</b> {{ selected_user.email }}</li>
        <li class="list-group-item"><b>Birthday:</b> {{ selected_user.profile.birthday }}</li>
        <li class="list-group-item"><b>Address:</b> {{ selected_user.profile.address}}</li>
      </ul>
</div>

{% endblock %}
